@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-wrap {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-wrap > * {
  padding: 1rem;
  text-align: center;
}

@media (max-width: 640px) {
  .page-wrap {
    grid-template-columns: 100%;
  }
  .page-wrap > * {
    grid-column: 1 / -1 !important;
    grid-row: auto !important;
  }
}

.page-header {
  grid-column: 1 / -1;
}

.page-main {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns:
    1fr
    min(85ch, 100%)
    1fr;
}

.page-main > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.page-footer {
  grid-column: 1 / -1;
}

.progress-bar .MuiLinearProgress-bar1Determinate {
  background-color: rgba(59, 130, 246);
}

.pattern {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ada8b4' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.case-record {
  height: calc(100vh - 192px);
}
